.placeDetailed {
    display: flex;
    flex-direction: column;
    place-content: center;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;

    .name {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .details {
        display: flex;
        justify-content: space-between;
    }

    .photos {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }

    .reviews {
        display: flex;
        flex-direction: column;
        gap: 10px;

        >.review {
            border-bottom: 1px solid #e0e0e073;
        }
    }
}