.places {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    margin-top: 10px;
}

.map {
    height: 100%;

    #map {
        height: 100%;
    }
}

.back {
    color: #646cff;
    cursor: pointer;
    text-decoration: underline;
}